<ion-content>
  <div id="body">
    <!-- Menu -->
    <ion-toolbar>
      <!-- <ion-buttons slot="start">
        <ion-icon name="star"></ion-icon>
      </ion-buttons> -->
      <ion-buttons slot="end">
        <ion-icon name="search-outline"></ion-icon>
      </ion-buttons>
    </ion-toolbar>

    <!-- Header -->
    <h1>Explore</h1>
    <!-- Category Slides -->
    <h6 style="text-align: right; color: gray;font-style: italic;">Lihat Semua</h6>
    <ion-slides pager="true" [options]="slideOpts" >
      <ion-slide >
        <h1 style="height: 20vh; width: 20vw;">Slide 1</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>

    <!-- Posts -->

    <h4>Terbaru</h4>

    <ion-row style="width: 100%">
      <ion-col size="8" style="background-color: aquamarine;">
        <h6>Sesuatu Terjadi Disini</h6>
      </ion-col>

      <ion-col size="4" style="background-color: bisque; height: 15vh; width: 15vw;">

      </ion-col>
    </ion-row>
  </div>
</ion-content>
